<h1>Editing Book</h1>
<% if @book.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= @book.errors.count %>errors prohibited this book from being saved;
    </h2>
    <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<form>
<%= render 'form', book: @book %>
</form>

<%= link_to 'Show', book_path %> |
<%= link_to 'Back', books_path %>
